<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>capabilities</key>
	<dict>
		<key>720p</key>
		<true/>
		<key>accelerometer</key>
		<true/>
		<key>accessibility</key>
		<true/>
		<key>applicationInstallation</key>
		<true/>
		<key>armv6</key>
		<true/>
		<key>armv7</key>
		<true/>
		<key>bluetooth</key>
		<true/>
		<key>device-name</key>
		<string>iPad</string>
		<key>displayport</key>
		<true/>
		<key>encrypted-data-partition</key>
		<true/>
		<key>fcc-logos-via-software</key>
		<true/>
		<key>gas-gauge-battery</key>
		<true/>
		<key>h264-encoder</key>
		<true/>
		<key>international-settings</key>
		<true/>
		<key>launch-applications-while-animating</key>
		<true/>
		<key>load-thumbnails-while-scrolling</key>
		<true/>
		<key>location-services</key>
		<true/>
		<key>magnetometer</key>
		<true/>
		<key>microphone</key>
		<true/>
		<key>opengles-1</key>
		<true/>
		<key>opengles-2</key>
		<true/>
		<key>peer-peer</key>
		<true/>
		<key>stand-alone-contacts</key>
		<true/>
		<key>wifi</key>
		<true/>
		<key>wildcat</key>
		<true/>
	</dict>
	<key>iconState</key>
	<dict>
		<key>buttonBar</key>
		<array>
			<string>com.apple.mobilesafari</string>
			<string>com.apple.mobilemail</string>
			<string>com.apple.mobileslideshow-Photos</string>
			<string>com.apple.mobileipod-AudioPlayer</string>
		</array>
		<key>iconLists</key>
		<array>
			<array>
				<string>com.apple.mobilecal</string>
				<string>com.apple.MobileAddressBook</string>
				<string>com.apple.mobilenotes</string>
				<string>com.apple.Maps</string>
				<string>com.apple.mobileipod-VideoPlayer</string>
				<string>com.apple.youtube</string>
				<string>com.apple.MobileStore</string>
				<string>com.apple.AppStore</string>
				<string>com.apple.Preferences</string>
			</array>
		</array>
	</dict>
</dict>
</plist>
